ArtistsWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.artistsws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.artistsws" xmlns:intf="http://ws.artistsws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.artistsws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addArtist">
    <complexType>
     <sequence>
      <element name="artist" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addArtistResponse">
    <complexType>
     <sequence>
      <element name="addArtistReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAllArtists">
    <complexType/>
   </element>
   <element name="findAllArtistsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findAllArtistsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findAllArtistsResponse">

      <wsdl:part element="impl:findAllArtistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addArtistResponse">

      <wsdl:part element="impl:addArtistResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addArtistRequest">

      <wsdl:part element="impl:addArtist" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllArtistsRequest">

      <wsdl:part element="impl:findAllArtists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ArtistsWS">

      <wsdl:operation name="addArtist">

         <wsdl:input message="impl:addArtistRequest" name="addArtistRequest">

       </wsdl:input>

         <wsdl:output message="impl:addArtistResponse" name="addArtistResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllArtists">

         <wsdl:input message="impl:findAllArtistsRequest" name="findAllArtistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllArtistsResponse" name="findAllArtistsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ArtistsWSSoapBinding" type="impl:ArtistsWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addArtist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addArtistRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addArtistResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllArtists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllArtistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllArtistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ArtistsWSService">

      <wsdl:port binding="impl:ArtistsWSSoapBinding" name="ArtistsWS">

         <wsdlsoap:address location="http://www.muzickagroznica.com/ArtistsWS/services/ArtistsWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
